#section1{
    background-image: url('../images/img5.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sdiv{
    margin: auto;
    border-radius: 2rem;
}